controller:
  name: controller
  kind: DaemonSet
  ingressClass: ${class}
  ingressClassResource:
    name: ${class}
    default: true
  service:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
  # we support ARM!
  tolerations:
    - operator: Equal
      key: "beta.kubernetes.io/arch"
      value: "arm64"
      effect: "NoExecute"
